<h1 style="text-align:center;">Listing all articles</h1>
<div style="text-align:center;">
    <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div style="text-align:center;">
    <%= will_paginate %>
</div>
