<div style="text-align:center;margin-left:auto;margin-right:auto;">
    <h1>Home Page:</h1>
</div>

<div style="text-align:center;margin-left:auto;margin-right:auto;">
    <h2><%= link_to 'About', about_path %></h2>
</div>

<div style="text-align:center;margin-left:auto;margin-right:auto;">
    <%= image_tag '231webdev-400px.png' %>
</div>